<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="photos/field.png">
    <img src="photos/Scratch.png">
    <button style = "background: greenyellow; width: 1900px" name="nubex" value="Nubex">
        <img style="vertical-align: middle; width: 24px;" src="http://nubex.ru/files/siroezhkin/icon.png" alt=""/>
        Запустить ваш код
    </button>
</body>
</html>